h1{
  color: red;
}

body {
  background-image: url("http://i.imgur.com/rnWcioK.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  background-attachment: fixed;
}

nav {
  list-style: none;
  background-color: grey;
  float: left;
  margin-right: 20px;
  opacity: 0.5;
  width: 100%;
  text-align: left;
}

li {
   list-style: none;
   display: inline;
   margin: 5px 5px 0 5px;
}

nav:hover {
    opacity: 0.9;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}
